navbar{
    background-color: #ffcc99;
}
button:hover {

    background: #ffcc33;
    color: white;

}
.mainContent-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  
  .mainContent-title {
    font-size: 6rem;
    font-weight: 800;
  }
  
  .mainContent-exp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  
  .mainContent-exp p {
    font-size: 2.5rem;
    font-weight: 100;
    padding: 26px;
    padding-bottom: 4px;
    padding-right: 9px;
    font-family: 'Outfit', sans-serif;
  }
  
  .mainContent-exp span {
    font-size: 2.8rem;
    font-weight: 700;
   font-family: 'Outfit', sans-serif;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 70px;
  }
  
  .navbar-group {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  .navbar-btn {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: none;
  }
  
  .navbar-img {
    padding: 5px;
    display: none;
  }
  
  .navbar-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-link a {
    width: 100%;
    margin: 0 2rem;
    text-decoration: none;;
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .animLine::after {
  display: block;
  width: 0%;
  height: 3px;
  transition: all 0.3s;
}

.animLine:hover::after {
  width: 100%;
}
  
