label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}


body {

    background-image: url("/src/main/resources/static/img/fondo-login2.png");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed
}

.modificar_usuario {

    position: relative;
    top: 1px;

}

.image-upload>input {
    display: none;
}

.image-upload img {
    width: 90px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    top: 12px;
    left: 480px;


}


.form {
    margin: 3%;
    max-width: 600px;
    position: relative;
    bottom: 10px;
    left: 32px;
    display: block;
    width: 80%;
    padding: 6px 12px;
    font-size: 14px;
    color: rgb(95, 95, 95);
}





.caja_principal {
    width: 90%;
    height: 90%;
    max-width: 650px;
    max-height: 900px;
    position: relative;

    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 30%;
}



button {
    margin: 0px;
}

.custom-btn {
    width: 110px;
    height: 33px;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;

    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    word-break: break-all;
    outline: none;
}

.btn-1 {
    background: rgb(255, 168, 5);
    background: linear-gradient(0deg, rgb(255, 145, 0) 0%, rgb(231, 170, 2) 100%);
    border: none;
    position: relative;
    left: 73%;
    bottom: 1px;


}

.btn-1:hover {
    background: rgb(251, 255, 0);
    background: linear-gradient(0deg, rgb(235, 219, 0) 0%, rgb(251, 193, 2) 100%);
}



@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

input[type='text'],
[type='email'],
[type='password'],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #747474;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    width: 100%;
    
}

input[type='text']:focus,
[type='email']:focus,
[type='password']:focus,
textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;

}












@media screen and (max-width: 768px) {
    #container {
        margin: 20px auto;
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }

    .underline {
        width: 68px;
    }

    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 18px;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    .underline {
        width: 53px;
    }

    input[type='text'],
    [type='email'],
    select,
    textarea {
        font-size: 0.875em;
    }
}