*{margin:0;
padding:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
body{
    background:url("fondo-login2.png");

    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed

}
.contenedor .form{
background: rgba(0, 0,0, 0);
width: 90%;
max-width: 650px;
margin: auto;
padding:5px 35px;
margin-top:30px;
padding-bottom:30px;
}

 h1{
    color:rgb(38, 140, 180);
    font-size: 50px
}
.h2{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --tw-text-opacity: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga" on;
    color: rgba(74,74,74,var(--tw-text-opacity));
    font-family: noto-sans,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,arial,sans-serif;
    --tw-bg-opacity: 1;
    border: 0 solid;
    box-sizing: border-box;
    border-color: currentColor;
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    margin: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    letter-spacing: -.0125em;
    line-height: 2rem;
    font-weight: 600;
}

.form1{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --tw-text-opacity: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga" on;
    color: rgba(74,74,74,var(--tw-text-opacity));
    font-family: noto-sans,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,arial,sans-serif;
    list-style: none;
    font-size: 1rem;
    letter-spacing: -.025em;
    line-height: 1.25;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    border: 0 solid;
    border-color: currentColor;
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    min-height: 1.2em;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-bg-opacity: 1;
    background-color: rgba(248,246,242,var(--tw-bg-opacity));
    border-radius: .25rem;
    padding: .5rem;
    box-sizing: content-box;
    padding-right: 1.5rem;
    cursor: pointer;
    
}
section{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    font-size: 1rem;
    letter-spacing: -.025em;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga" on;
    color: rgba(74,74,74,var(--tw-text-opacity));
    font-family: noto-sans,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,arial,sans-serif;
    border: 0 solid;
    box-sizing: border-box;
    border-color: currentColor;
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    margin-top: .5rem;
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    padding: 1rem;
}
