<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes</title>
    <link rel="stylesheet" href="/css/estiloingrediente.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Kalam&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="contenedor">
        <div class="medio">
        <h1 class="form-title"> Llego la hora de cocinar!</h1>
        
        <h2 class="h2 ">Coloca el nombre de tu receta</h2>
             <input type="text"id="Nombre"class="form1 marg"placeholder="Ej:La sopa de la abuela">
            </div>
            <form action="/ingrediente" method="POST" enctype="multipart/form-data" class="form">
             
                  
            <section class="marg">
             <label for="ingrediente"class="h2" id="ingrediente">Ingredientes:</label>
             <div class="container">
              <input type="text"id="ingrediente"class="form1" name="ingrediente" placeholder="Escriba el ingrediente">
             
              <input type="submit"class="form1"value="+ingrediente">
            </div>
             
            <div class="container">
            
            <input class="form1" type="submit" name="agregar" value="Guardar ">
            
             
             
            </div>

            </section>       

            </section>

            <section class="marg">
                <label for="ingrediente"class="h2" id="ingrediente">Pasos:</label>
                <div class="container">
                 <input type="text"id="ingrediente"class="form1" name="Pasos" placeholder="Indique el paso">
                
                 <input type="submit"class="form1"value="Agregar otro paso">
               </div>
                
               <div class="container">
               
               <input class="form1" type="submit" name="agregar" value="Guardar ">
               
              
                
               </div>
               </section>
               <section class="marg">
                <label for="ingrediente"class="h2" id="ingrediente">Entonces tu receta quedaria asi!:</label>
                <div class="container">
                 
               </div>
                
               <div class="container">
               
               <input class="form1" type="submit" name="agregar" value="Modificar ">
               <input class="form1" type="submit" name="agregar" value="Enviar todo y terminar" >
               
              
                
               </div>
               </section>
                
               
            
          
            
            
        </form>
        
    </div> 
   
</body>
</html>