<!doctype html>
<html lang="en">

<head>
    <!--Script de saludo bienvenida-->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/paginaPrincipal/css/estilos.css" media="screen">
    <title>WTFood - Nuestro equipo</title>
    <link rel="icon" type="image/x-icon" href="/paginaPrincipal/img/tallarines.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
        type='text/css'>
</head>

<body>
    <header>
        <nav class="navbar  navbar-expand-lg  navbar-light bg-light shadow">
  <div class="container-fluid">
    <div class="col-xl-2">
    <a class="navbar-brand" href="#">
      
    </a>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedConten <img src="img/logo wtfood BLANCO  transparente1.png" alt="" width="30" height="24">t" aria-expanded="false" aria-label="Toggle navigation" style="background-color: red;">
      <span class="navbar-toggler-icon"></span>
    </button>
<section class="col-xl-3">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar recetas" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Buscar</button>
        </form>
      </ul>
      </div>
      </section>
     <!-- <div class="listas">-->
      <div class="col-xl-7">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index">Ir a inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mis recetas</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Mi perfil
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="modificarUsuario">Editar perfil</a></li>
            <li><a class="dropdown-item" href="#">Mis recetas</a></li>
            <li><a class="dropdown-item" href="#">Recetas Favoritas</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
</nav>
    </header>
    <title>Este es nuestro equipo</title>
    <section class="container px-2">
        <div class="team-cards">
            <div class="row g-4">
                <div class="col-md-12">
                    <h2>Este es nuestro equipo WTFood!</h2>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-3">

                    <div class="
                    shadow d-flex
                    justify-content-center
                    align-items-center
                    p-3
                    bg-white rounded-lg
                    flex-column
                    ">
                        <div class="person-img">
                            <img src="/paginaPrincipal/img/Franco-Griffo.jpeg" class="img-fluid rounded-circle"
                                alt="Franco Griffo">
                        </div>
                        <div class="person-name my-2">
                            <h5 class="text-gold">Franco Griffo</h5>
                        </div>
                        <div class="info">
                            <h6 class="text-gold">Project Manager</h6>
                        </div>
                        <div class="social-icons my-2">
                            <a href="https://www.linkedin.com/in/franco-griffo/" class="text-yellow"><i
                                    class="fa fa-linkedin p-2" aria-hidden="true"></i></a>
                            <a href="#" class="text-yellow"><i class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                        </div>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Ver perfil</button>
                    </div>

                </div>

                <div class="col-lg-3 col-md-4 col-sm-3">
                    <div class="shadow d-flex justify-content-center
                    align-items-center
                    p-3
                    bg-dark rounded-lg
                    flex-column">
                        <div class="person-img">
                            <img src="/paginaPrincipal/img/Lujan-Grego.jpg" class="img-fluid rounded-circle"
                                alt="Gregorio Lujan">
                        </div>
                        <div class="person-name my-2">
                            <h5 class="text-white">Gregorio Lujan</h5>
                        </div>
                        <div class="info">
                            <h6 class="text-white">Backend</h6>
                        </div>
                        <div class="social-icons my-2">
                            <a href="#" class="text-white"><i class="fa fa-linkedin p-2" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/gregolujan/" class="text-white"><i
                                    class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                        </div>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Ver perfil</button>
                    </div>
                </div>

                <div class="card-team col-lg-3 col-md-4 col-sm-3">
                    <div class="
                    shadow d-flex
                    justify-content-center
                    align-items-center
                    p-3
                    bg-dark rounded-lg
                    flex-column">
                        <div class="person-img">
                            <img src="/paginaPrincipal/img/Vanesa-Torales.jpeg" class="img-fluid rounded-circle"
                                alt="Vanesa Torales">
                        </div>
                        <div class="person-name my-2">
                            <h5 class="text-white">Vanesa Torales</h5>
                        </div>
                        <div class="info">
                            <h6 class="text-white">Backend</h6>
                        </div>
                        <div class="social-icons my-2">
                            <a href="https://www.linkedin.com/in/vantorales" class="text-white"><i
                                    class="fa fa-linkedin p-2" aria-hidden="true"></i></a>
                            <a href="#" class="text-white"><i class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                        </div>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Ver perfil</button>
                    </div>
                </div>

                <div class=" col-lg-3 col-md-4 col-sm-3">
                    <div class="
                    shadow d-flex
                    justify-content-center
                    align-items-center
                    p-3
                    bg-dark rounded-lg
                    flex-column">
                        <div class="person-img">
                            <img src="#" class="img-fluid rounded-circle" alt="Esteban Yemes">
                        </div>
                        <div class="person-name my-2">
                            <h5 class="text-white">Esteban Yemes</h5>
                        </div>
                        <div class="info">
                            <h6 class="text-white">Backend</h6>
                        </div>
                        <div class="social-icons my-2">
                            <a href="#" class="text-white"><i class="fa fa-linkedin p-2" aria-hidden="true"></i></a>
                            <a href="#" class="text-white"><i class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                        </div>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Ver perfil</button>
                    </div>
                </div>

            </div>
            </div>
    </section>
    <br>
    <section class="container px-2">
        <div class="row g-4 ">
            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="
                    shadow d-flex
                    justify-content-center
                    align-items-center
                    p-3
                    bg-dark rounded-lg
                    flex-column">
                    <div class="person-img">
                        <img src="#" class="img-fluid rounded-circle" alt="Pablo Balcar">
                    </div>
                    <div class="person-name my-2">
                        <h5 class="text-white">Pablo Balcar</h5>
                    </div>
                    <div class="info">
                        <h6 class="text-white">Frontend</h6>
                    </div>
                    <div class="social-icons my-2">
                        <a href="#" class="text-white"><i class="fa fa-linkedin p-2" aria-hidden="true"></i></a>
                        <a href="#" class="text-white"><i class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                    </div>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Ver perfil</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="
                    shadow d-flex
                    justify-content-center
                    align-items-center
                    p-3
                    bg-dark rounded-lg
                    flex-column">
                    <div class="person-img">
                        <img src="/paginaPrincipal/img/Nahuel-Gerez_Haded.jpg" class="img-fluid rounded-circle"
                            alt="Nahuel Gerez Haded">
                    </div>
                    <div class="person-name my-2">
                        <h5 class="text-white">Nahuel Gerez Haded</h5>
                    </div>
                    <div class="info">
                        <h6 class="text-white">Frontend</h6>
                    </div>
                    <div class="social-icons my-2">
                        <a href="https://www.linkedin.com/in/nahuel-gerez-haded/" class="text-white"><i
                                class="fa fa-linkedin p-2" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/nahuelgh83/" class="text-white"><i
                                class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                    </div>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Ver perfil</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="
                    shadow d-flex
                    justify-content-center
                    align-items-center
                    p-3
                    bg-dark rounded-lg
                    flex-column">
                    <div class="person-img">
                        <img src="#" class="img-fluid rounded-circle" alt="Gianfranco Siccardi">
                    </div>
                    <div class="person-name my-2">
                        <h5 class="text-white">Gianfranco Siccardi</h5>
                    </div>
                    <div class="info">
                        <h6 class="text-white">Frontend</h6>
                    </div>
                    <div class="social-icons my-2">
                        <a href="#" class="text-white"><i class="fa fa-linkedin p-2" aria-hidden="true"></i></a>
                        <a href="#" class="text-white"><i class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                    </div>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Ver perfil</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="
                    shadow d-flex
                    justify-content-center
                    align-items-center
                    p-3
                    bg-dark rounded-lg
                    flex-column">
                    <div class="person-img">
                        <img src="/paginaPrincipal/img/Lucas-Siano.png" class="img-fluid rounded-circle"
                            alt="Lucas Siano">
                    </div>
                    <div class="person-name my-2">
                        <h5 class="text-white">Lucas Siano</h5>
                    </div>
                    <div class="info">
                        <h6 class="text-white">Frontend</h6>
                    </div>
                    <div class="social-icons my-2">
                        <a href="#" class="text-white"><i class="fa fa-linkedin p-2" aria-hidden="true"></i></a>
                        <a href="#" class="text-white"><i class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                    </div>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Ver perfil</button>
                </div>
            </div>

        </div>
        </div>
    </section>
    <br>
</body>
<footer>
    <div class="container-fluid ">
        <div class="row p-5 bg-warning text-sucess">
            <div class="col-xs-12 col-md-4 col-lg-3">
                <p class="h3"> WTFood! </p>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3">
                <p class="h5 mb-2"> Sobre nosotros </p>
                <div class="mb-2">
                    <!--Aca armamos una paginita con nuestro perfil-->
                    <a class="text-decoration-none text-dark" href="#">Conocé a nuestro equipo</a>
                </div>
            </div>
            <!--Creamos unas recetas y las subimos a estas paginas? veo si llego-->
            <div class="col-xs-12 col-md-4 col-lg-3">
                <p class="h5 mb-3"> Nuestras redes </p>
                <div class="mb-2">
                    <img src="/paginaPrincipal/img/ig.png">
                    <img src="/paginaPrincipal/img/fb.png">
                    <img src="/paginaPrincipal/img/tw.png">
                </div>
            </div>
            <!--Buscar algún copy & paste de politica de privacidad-->
            <div class="col-xs-12 col-md-4 col-lg-3">
                <p class="h5 mb-3"> Politica de privacidad </p>
                <div class="mb-2">
                    <a class="text-decoration-none text-dark" href="/tyc.html">Terminos y condiciones</a>
                </div>
                <div class="mb-2">
                    <a class="text-decoration-none text-dark" href="#">Ayuda</a>
                </div>
            </div>
        </div>
</footer>