<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Recetas </title>

    <link rel="stylesheet" href="/src/main/resources/static/css/estiloVerRecetasPrincipal.css">
</head>

<body>


    <!-- Cartas de recetas -->

    <h1>Card con efecto over</h1>

    <div class="container">

        <div class="card">
            <img src="/src/main/resources/static/img/sandwich.png" alt="">
            <h4>Receta1</h4>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo earum dolore,
                animi molestias suscipit soluta tenetur ipsa maiores dolorum fugit similique optio aliquam?
                Quaerat saepe illo nostrum repellendus quae.
            </p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="/src/main/resources/static/img/sandwich.png" alt="">
            <h4>Receta2</h4>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo earum dolore,
                animi molestias suscipit soluta tenetur ipsa maiores dolorum fugit similique optio aliquam?
                Quaerat saepe illo nostrum repellendus quae.
            </p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="/src/main/resources/static/img/sandwich.png" alt="">
            <h4>Receta3</h4>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo earum dolore,
                animi molestias suscipit soluta tenetur ipsa maiores dolorum fugit similique optio aliquam?
                Quaerat saepe illo nostrum repellendus quae.
            </p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="/src/main/resources/static/img/sandwich.png" alt="">
            <h4>Receta4</h4>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo earum dolore,
                animi molestias suscipit soluta tenetur ipsa maiores dolorum fugit similique optio aliquam?
                Quaerat saepe illo nostrum repellendus quae.
            </p>
            <a href="#">Leer más</a>
        </div>

    </div>



</body>

</html>